{% extends "oscar/layout.html" %}

{% block breadcrumbs %}
<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>States List</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">States List</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="categories-shop">
  <div class="container">
    <div class="row">
      {% for state in states %}
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 psx" width="100px" height="100px">
        <div class="shop-cat-box" style="max-height: 250px;">
          <img class="img-responsive" src="{{ state.state_image.url }}" alt="" />
          <h2 class="text-white"><br></h2>
          <a class="btn hvr-hover" href="{% url 'cropList' id=state.id %}">{{ state.state_name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
