{% extends "oscar/layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="all-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{% trans 'Register' %}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item active">{% trans 'Register' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block headertext %}
    {% trans "Register" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 register_form">
            <form id="register_form" method="post" class="form-stacked">
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html"  %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-primary btn-lg" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
                {% if cancel_url %}
                    {% trans "or" %} <a href="{{ cancel_url }}">{% trans "cancel" %}</a>.
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}
